.valid-action {
  cursor: grab;
}

.debug-ui {
  position: relative;
  float: right;
  margin-left: 0.5em;
}

[itemprop][data-value]:after {
  content: attr(data-value);
}

[itemprop="resource"][data-value]:after {
  content: "" !important;
}

[itemprop="token"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  margin-bottom: 5px;
}

[itemprop="resource"] {
  border: 1px solid black;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  min-width: 1em;
  height: 1em;
  min-height: 1em;
  padding: 0.1em;
}

[itemprop="resource"][data-value="Diamond"],
.Diamond {
  background-color: bisque;
}
[itemprop="resource"][data-value="Diamond"]:after {
  content: "\2126";
}

[itemprop="resource"][data-value="Emerald"],
.Emerald {
  background-color: greenyellow;
}
[itemprop="resource"][data-value="Emerald"]:after {
  content: "\2600";
}

[itemprop="resource"][data-value="Sapphire"],
.Sapphire {
  background-color: lightskyblue;
  color: #fff;
}
[itemprop="resource"][data-value="Sapphire"]:after {
  content: "\271C";
}

.Onyx.card > [itemprop="prestigePoints"] {
  color: #fff;
}
[itemprop="resource"][data-value="Onyx"],
.Onyx {
  background-color: black;
  color: #fff;
}
[itemprop="resource"][data-value="Onyx"]:after {
  content: "\2726";
}

[itemprop="resource"][data-value="Ruby"],
.Ruby {
  background-color: red;
  color: #fff;
}
[itemprop="resource"][data-value="Ruby"]:after {
  content: "\2726";
}

[itemprop="resource"][data-value="Wild"],
.Wild {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 20%,
    rgba(44, 157, 63, 1) 40%,
    rgba(238, 42, 96, 1) 60%,
    rgba(27, 28, 26, 1) 80%
  );
  color: #fff;
}
[itemprop="resource"][data-value="Wild"]:after {
  content: "\2738";
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.card {
  position: relative;
  padding: 0 1.5rem;
  border: 2px solid black;
  border-radius: 8px;
  color: #000;
  width: 100%;
  min-width: 4rem;
  margin: 0.3rem;
}

.card > [itemprop="prestigePoints"] {
  position: absolute;
  top: 0;
  right: 1rem;
  font-weight: 700;
  font-size: 220%;
}

.card > [itemprop="resource"] {
  display: none;
}

.card [itemprop="cost"] {
  position: absolute;
  left: 0.3em;
  bottom: 0.3em;
  min-width: 3rem;
  max-height: 70%;
  padding: 0.4em 0.2em;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
}

.stock {
  color: #3c3c3c;
  background-color: #ccc;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}

.patronRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.patron.card {
  display: flex;
  min-height: 5em;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 1%;
  background-color: rgb(100, 136, 233);
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #3f3f3f;
  margin: 0.5em;
  padding: 0.5em;
}

.cardStack {
  margin: 0.2em;
  border: 1px solid #333;
  border-radius: 0.1em;
  padding: 0 0.3em;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: rgba(238, 235, 192, 0.5);
}

/* two players */
.player:first-child:nth-last-child(1),
.player:first-child:nth-last-child(1) ~ .player {
  font-size: 120%;
}

/* three players */
.player:first-child:nth-last-child(2),
.player:first-child:nth-last-child(2) ~ .player {
  font-size: 80%;
}

/* four players */
.player:first-child:nth-last-child(3),
.player:first-child:nth-last-child(3) ~ .player {
  font-size: 75%;
}

.player .subtitle {
  font-weight: bold;
  margin: 1em 0 0.2em 0;
  border-bottom: 1px solid #3c3c3c;
  width: 100%;
}
.player .tokens {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player [itemprop="name"] {
  font-weight: bold;
  font-size: 150%;
  font-style: italic;
}

.player [itemprop="token"] {
  font-size: 140%;
  margin: 0 0.5em;
}

.player [itemprop="token"] [itemprop="resource"] {
  width: 2em;
  height: 2em;
  margin: 0.2em;
}

.player [itemprop="prestigePoints"] {
  position: absolute;
  top: 0.1em;
  right: 0.3em;
  font-size: 200%;
  font-weight: 800;
}
